Repository woowacourse-study/2022-Monday-CS-Study, pull requests merged in 2022-08, with the labels that each got.

#8 [8월 1주차] Network 16. CORS란 무엇이며 이것에 대해서 설명해보세요.
  Network/16.md
  Network/README.md
Labels: Network

#9 [8월 1주차] OperatingSystem 15. 프로세스와 스레드의 차이에 대해 설명해주세요.
  OperatingSystem/15.md
  OperatingSystem/README.md
  인프라/README.md
Labels: OperatingSystem

#10 [8월 1주차] DataStructure-Algorithm 5. Heap, Priority Queue에 대해서 설명해주세요
  DataStructure-Algorithm/5.md
  DataStructure-Algorithm/README.md
  DataStructure-Algorithm/img.png
  DataStructure-Algorithm/img_1.png
Labels: DataStructure-Algorithm

#11 [8월 1주차] 운영체제 14. 파이프(|) 란 무엇이고, 어떻게 동작하는지 설명해주세요.
  OperatingSystem/14.md
  OperatingSystem/README.md
Labels: OperatingSystem

#14 [8월 1주차] 17. 캐시란 뭐고, 어떤 목적으로 쓰는 건가요?
  DataStructure-Algorithm/17.md
  DataStructure-Algorithm/README.md
Labels: DataStructure-Algorithm

#12 [8월 1주차] 알고리즘 - 이진탐색을 코드로 구현하고 설명해주세요.
  DataStructure-Algorithm/9.md
  DataStructure-Algorithm/README.md
Labels: DataStructure-Algorithm

#13 [8월 1주차] 알고리즘 - DFS, BFS에 대해서 설명해주세요.
  DataStructure-Algorithm/10.md
  DataStructure-Algorithm/README.md
Labels: DataStructure-Algorithm

#26 [8월 2주차] DataStructure-Algorithm 21.RSA 로 공개 키를 만들 때, 키 길이를 정하는 기준이 있습니까? 키 길이를 길게 하면 암호화 문제를 완벽 해결할 수 있나요?
  DataStructure-Algorithm/21.md
  DataStructure-Algorithm/README.md
Labels: DataStructure-Algorithm

#23 [8월 2주차] 가상메모리에 대해 설명해주세요
  OperatingSystem/21.md
  OperatingSystem/README.md
Labels: OperatingSystem

#21 [8월 2주차] 자료구조 3. Hash Function, HashTable에 대해서 설명해주세요.
  DataStructure-Algorithm/3.md
  DataStructure-Algorithm/README.md
Labels: DataStructure-Algorithm

#22 [8월 2주차] 디자인 5. Mutable, Immutable 이란 뭔가요? 각각은 어떤 특징이 있을까요?
  Design/5.md
Labels: Design

#28 [8월 2주차] 2. GC가 무엇인지, 필요한 이유는 무엇인지, 동작방식에 대해 설명해주세요.
  Java/2.md
  Java/README.md
Labels: Java

#27 [8월 2주차] OSI Layer 7 또는 TCP Model 에 대해 설명해주세요.
  Network/2.md
  Network/README.md
Labels: Network

#39 [8월 3주차] DataStructure 25. 배열과 ArrayList, LinkedList 의 차이점은 무엇인가요?
  DataStructure-Algorithm/25.md
  DataStructure-Algorithm/README.md
Labels: DataStructure-Algorithm

#40 [8월 3주차] OS - 교착상태와 기아상태가 무엇인지, 해결 방법은 무엇인지 설명해주세요
  OperatingSystem/19.md
  OperatingSystem/README.md
Labels: OperatingSystem

#36 [7월 4주차] Java - 43.Java generics 에는 primitive type 을 쓸 수 없는 문제가 있습니다. 왜 그럴까요? 어떻게 해결할 수 있을까요?
  Java/43.md
  Java/README.md
Labels: Java
