Repository woowacourse-study/2022-Monday-CS-Study, pull requests merged in 2022-10, with the labels that each got.

#98 [9월 4주차] Network 19. JWT에 대해서 간단히 설명해주세요.
  Network/19.md
  Network/README.md
Labels: Network

#90 [9월 4주차] Database 9. Slow query 를 발견하고, 수정한 경험에 대해 말씀해 주세요.
  Database/9.md
  Database/README.md
Labels: Database

#96 [9월 4주차] OS.22 캐시의 지역성에 대해 설명해주세요.
  OperatingSystem/22.md
  OperatingSystem/img_1.png
Labels: OperatingSystem

#94 [9월 4주차] OperatingSystem 4. 컴퓨터가 기계어를 읽고, 실행하는 과정에 대해 설명해 주실 수 있나요?
  OperatingSystem/4.md
  OperatingSystem/README.md
Labels: OperatingSystem

#101 [10월 1주차] Java 19. try-with-resource에 대해서 설명해주세요.
  Java/19.md
  Java/README.md
Labels: Java

#102 [10월 1주차] Java 20. 강한 결합과 느슨한 결합이 무엇인지 설명해주세요.
  Java/20.md
  Java/README.md
Labels: Java

#104 [10월 1주차] 동기와 비동기의 차이, 장단점에 대해 설명해주세요.
  OperatingSystem/17.md
  OperatingSystem/README.md
Labels: OperatingSystem

#97 [9월 4주차] 16. 컨텍스트 스위칭에 대해 설명해주세요.
  OperatingSystem/16.md
  OperatingSystem/README.md
Labels: OperatingSystem

#106 [10월 1주차] 40. 크기를 지정하지 않고 ArrayList 를 new 로 생성하면 크기 10의 ArrayList 가 생성됩니다. Array 는 크기를 넘길 수 없는데 반해 ArrayList 는 꽉 찬 List 에 element 를 추가로 더할 수 있습니다. 그렇다면 10개의 element 를 채워넣은 ArrayList 의 11번째 element 을 add 하기위해 어떤 일이 일어나는지 설명해주세요.
  Java/40.md
  Java/README.md
Labels: Java

#88 [9월 3주차] 1. Singleton pattern 이란 무엇이고, 어떤 장점과 단점이 있을까요?
  Design/1.md
  Design/README.md
  Java/README.md
Labels: Design

#111 [10월 2주차] (JPA 경험자 한정) JPA 를 이용할 때, JPQL 을 쓰는 경우가 종종 있는데, JPQL 을 쓰시며 좋았던 점과 불편했던 점을 말씀해 주세요.
  Database/15.md
  Database/README.md
Labels: Database

#116 [10월 2주차] Network 20. OAuth에 대해서 간단히 설명해주세요.
  Network/20-21.md
  Network/README.md
Labels: Network

#108 [10월 1주차] 48. java.util.Property extends Hashtable, java.util.Stack extends Vector 같은 클래스는 상속으로 망한 대표 사례입니다. 이유를 설명해 주세요.
  Java/48.md
  Java/README.md
  Java/img_1.png
  Java/img_2.png
  Java/img_3.png
  Java/img_4.png
Labels: Java

#119 [10월 3주차] noSQL 과 RDB 의 특징, 차이에 대해 말씀해주세요. 어느 상황에 어떤 데이터베이스를 쓰는게 좋겠습니까?
  Database/01.md
  Database/README.md
Labels: Database
