Repository woowacourse-study/2022-Monday-CS-Study, pull requests merged in 2022-09, with the labels that each got.

#49 [8월 5주차] DB - 7. Optimistic Locking(낙관적 락) 과 Pessimistic Locking(비관적 락) 에 대해 설명해주세요. 각각의 락을 사용할 상황 또는 제품 사례를 말씀해주세요.
  Database/7.md
  Database/README.md
Labels: Database

#52 [8월 5주차] Network - 9. TCP와 UDP의 차이점에 대해서 설명해보세요.
  Network/9.md
  Network/README.md
  Network/img.png
Labels: Network

#51 [8월 5주차] Java 59. Spring Web MVC의 Dispatcher Servlet의 동작 원리에 대해서 간단히 설명해주세요.
  Java/59.md
  Java/README.md
Labels: Java

#38 [8월 3주차] Design 7. 메소드의 파라미터로 전달한 객체를 메소드 내에서 마음대로 바꾸지 못 하게 하려면 어떻게 코딩하는게 좋을까요? 왜 메소드가 파라미터를 조작하는 것이 문제가 될까요? 문제가 아닐 수도 있지 않을까요?
  Design/7.md
  Design/README.md
Labels: Design

#37 [8월 3주차] Java 36. Java 의 Collections.unmodifiableList 같은 API 를 이용해 List 같은 collection 을 변경 불가능하게 만들 수 있습니다. 그렇다면 이 API 를 사용하면 immutability 를 달성할 수 있을까요?
  Java/36.md
  Java/README.md
Labels: Java

#61 [9월 1주차] Database 3. RDBMS 의 여러 JOIN 중 아무거나 하나 골라서, 그림으로 설명해 주실 수 있습니까?
  Database/3.md
  Database/README.md
Labels: Database

#60 [9월 1주차] OS 6. 컴파일러와 인터프리터는 어떤 차이가 있을까요?
  OperatingSystem/6.md
  OperatingSystem/README.md
Labels: OperatingSystem

#64 [9월 1주차] Java 13. SOLID(객체지향 5대원칙)에 대해서 설명해주세요.
  Java/13.md
  Java/README.md
Labels: Java

#42 [8월 4주차] 65. Spring Web MVC에서 요청 마다 Thread가 생성되어 Controller를 통해 요청을 수행할텐데, 어떻게 1개의 Controller만 생성될 수 있을까요?
  Java/65.md
  Java/README.md
Labels: Java

#53 [8월 3주차] 6. 웹 브라우저에 https://www.google.com URL 을 입력 후 enter 를 쳤을 때 일어나는 과정을 최대한 상세하게 설명해주세요.
  Network/6.md
  Network/README.md
Labels: Network

#63 [9월 1주차] 5. 데이터베이스가 Index를 이용해 자료를 빠르게 검색하는 과정을, 우리 할머니도 알아들을 수 있도록 설명해 주시겠어요?
  Database/5.md
  Database/README.md
Labels: Database

#74 [9월 2주차] 6. Tree, Binary Tree, BST, AVL Tree에 대해서 설명해주세요.
  DataStructure-Algorithm/6.md
  DataStructure-Algorithm/README.md
Labels: DataStructure-Algorithm

#71 [9월 2주차] OperatingSystem 5. 운영체제가 여러 프로그램을 동시에 실행하는 원리에 대해 설명해주세요.
  OperatingSystem/5.md
  OperatingSystem/README.md
Labels: OperatingSystem

#72 [9월 2주차] Design 10. test code 를 작성하는 본인만의 기준이 있습니까? test 실행 속도를 높이려면 어떤 방법이 좋을까요?
  Design/10.md
  Design/README.md
Labels: Design

#69 [9월 2주차] Java 17. Checked Exception과 Unchecked Exception에 대해 설명해주세요. 스프링 트랜잭션 추상화에서 rollback 대상은 무엇일까요?
  Java/17.md
  Java/README.md
Labels: Java

#68 [9월 2주차] Java 6. 오버라이딩과 오버로딩이 무엇이며 어떤 차이가 있을까요?
  Java/6.md
  Java/README.md
Labels: Java

#80 [9월 3주차] Network 23. XSS에 대해서 간단히 설명해주세요.
  Network/23.md
  Network/README.md
Labels: Network

#83 [9월 3주차] Java 16. String, StringBuilder, StringBuffer 각각의 차이에 대해 설명해주세요.
  Java/16.md
  Java/README.md
Labels: Java

#62 Network 18. 웹 서버 소프트웨어의 서버 간 라우팅 기능은 OSI 7계층 중 어디서 동작하는지 설명해보세요.
  Network/18.md
  Network/README.md
Labels: Network

#76 [9월 2주차] Java 69. 톰캣의 Nio Connector의 동작 방식에 대해 설명해주세요.
  Java/69.md
  Java/README.md
Labels: Java

#86 [9월 3주차] Java 54. 빈이 생성되는 과정에 대해 설명해주세요
  Java/54.md
  Java/README.md
Labels: Java

#84 [9월 3주차] OS 20.세마포어와 뮤텍스의 차이에 대해 설명해주세요.
  OperatingSystem/20.md
  OperatingSystem/README.md
Labels: OperatingSystem

#81 [9월 3주차] Network 24. CSRF에 대해 간단히 설명해주세요.
  Network/24.md
  Network/README.md
Labels: Network
